---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: PR Lint

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

permissions: read-all

jobs:
  Linter:
    name: PR Lint
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      statuses: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ivuorinen/actions/pr-lint@5c468117d836748e28d7213ab3a399fe97b317ec # 25.9.16
